<!DOCTYPE html>
<html>
    <head>
        <title>Analisador Léxico</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link type="text/css" rel="stylesheet" href="../assets/styles/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/styles/css/estilos.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">   
        <script type="text/javascript" src="../assets/js/jquery.js"></script>
        <script type="text/javascript" src="../assets/js/js.js"></script>
    </head>

    <div class="titulo">
        <br>
        <h1>Analisador Léxico</h1>
    </div>

    <body>
        <div>
        <main>
            <form onsubmit="return false;">
                <div>
                    <div class="div-adicionar" >
                        <div class="titulo">
                            <h2>Digite para adicionar</h2>
                        </div>
                        <div>
                            <div class="titulo" >
                                <input id="palavra" type="text"  value="">
                            </div>
                            <div>
                                <table>
                                    <tbody id="palavras"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group titulo">
                                <button class="btn" title="Adicionar o token" onclick="incluiToken();">Incluir tokens</button>
                                <button class="btn" onclick="limpaListaTokens();">Limpar tokens</button>
                            </div>
                        </div>

                        <div class="titulo">
                            <div>
                                <h2>Digite para validar</h2>
                            </div>
                            <div >
                                <div >
                                    <input type="text" id="validador" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                    </div> 

            </div>
            </form>

            <div>
                <br> 
                <br> 
                <br>
                <table id="automato"></table>
            </div>
            </main>
            </div>
        </body>
</html>